.navbar {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 33px;
    background-color: #000000;
    z-index: 1;
    padding-bottom: 5px;
    font-family: "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.leftBtns {
    top: 0;
    left: 0;
    border-radius: 0 15px 15px 0;
    width: 30%;
    padding: 5px 5px;
    float: left;
    height: 25px;
    background-color: #7f02b16c;
}

.middleUp {
    top: 0;
    width: 50%;
    background-color: #000000;
    overflow: hidden;
    text-align: center;
    -webkit-app-region: drag;
}

.windowControls {   
    width: 20%;
    align-self: right;
    right: 0;
    z-index: 1;
    padding: 5px 5px;
    text-align: right;
    font-family: "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
}

.button {
    background-color: #7f02b1;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: none;
    border-radius: 0px 15px 15px 0px;
    font-size: 14px;
    font-weight: 400;
    font-style: bold;
    padding: 5px 5px;
    margin-bottom: 0;
    text-align: left;
    vertical-align: middle;
    font-family: "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
}

.title-label {
    font-size: 14px; 
    color: #7f02b1;
    top: 0;
    font-weight: 1000;
    text-align: center;
    vertical-align: middle;
    font-family: "openDyslexic";
}


.settingsbutton{
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: none;
    font-size: 18px;
    border: none;
    text-align: center;
    vertical-align: middle;
    font-family: "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
}

.closebutton {
    background-color: #7f02b1;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: none;
    font-size: 11px;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px 15px 15px 15px;
    font-family: "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
}

.disabled {
    opacity: 0.6;
}